
<h1>Eat-Da-Burger!</h1>
	<div class="container">
            <div class = "row">
                <div class="col-md-5">
                    <h2>Eat these!</h2><br>
                    <ul>
                      {{#each burgers}}
                      {{#unless devoured}}
                      <p> <h2>{{burger_name}}  <button class="devoured" data-id="{{id}}">Devour it!</button></p>
                      {{/unless}}
                      {{/each}}
                    </ul>
                </div>
                  <div class="col-md-2"></div>
                <div class="col-md-5">
                    <h2>Already Devoured!</h2><br>
                    <ul>
                    {{#each burgers}}
                    {{#if devoured}}
                    <p> <h2>{{burger_name}}</h2></p>
                    {{/if}}
                    {{/each}}
                    </ul>
                </div>
            </div>
		</div>


<h2>Add a new burger:</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burgerAdd">Burger Name:</label>
    <input type="text" id="addBurger" name="name">
    <button type="submit" id="addButton">Add Burger</button>
  </div>

</form>
